[submodule "third_party/gemmlowp"]
	path = third_party/gemmlowp
	url = https://github.com/google/gemmlowp.git
[submodule "third_party/NNPACK"]
	path = third_party/NNPACK
	url = https://github.com/Maratyszcza/NNPACK
